
    <div id="mapView" data-role="view" data-title="Map" style="z-index:50; display:none;">
        <header data-role="header">
            <div data-role="navbar">
                <a data-align="left" data-role="backbutton" class="nav-button" href="index.html" data-click="hidemap">
                    <span class="km-text">Back</span></a>
                <span data-role="view-title">My Map</span>
                
                
          
            </div>
        </header>
    </div>
 
 
 
 